{% extends 'guest/base.html.twig' %}

        {% block metatitle %}
        <title>Home</title>
        {% endblock metatitle %}

{% block main %}
<main>

	<h1>BricoParts</h1>

</main>
{% endblock main %}