{% include 'admin/partials/_header.html.twig' %}

    {% block metatitle %}
    {% endblock metatitle %}

    {% for message in app.flashes('success') %}
    <div class="alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert-danger">{{ message }}</div>
    {% endfor %}

    {% block main %}
    {% endblock main %}

      
{% include 'admin/partials/_footer.html.twig' %}
   
