{% extends 'base.html.twig' %}

        {% block metatitle %}
        <title>Error404</title>
        {% endblock metatitle %}

{% block main %}
<main>
    <h1>Error 404 : Page not found.
</main>
{% endblock main %}