{% include 'partials/_header.html.twig' %}

    {% block metatitle %}
    {% endblock metatitle %}


    {% for message in app.flashes('success') %}
		<div class="success-message">
			<p>{{message}}</p>
		</div>
	{% endfor %}

    {% block main %}
    {% endblock main %}

      
{% include 'partials/_footer.html.twig' %}
   
