{% extends 'admin/base.html.twig' %}

        {% block metatitle %}
        <title>Create-product</title>
        {% endblock metatitle %}

{% block main %}
<main>

	<h1>Ajouter un produit</h1>
	<!-- {# quand un formulaire contient des données normales + des fichiers (images etc) 
	 il faut ajouter l'attribut enctype="multipart/form-data" au formulaire
	#} -->
	<form method="POST" enctype="multipart/form-data">

		<label>Title
			<input type="text" name="title">
		</label>


		<label>Description
			<input type="text" name="description">
		</label>

		<label>Price
			<input type="number" name="price" step="0.01">
		</label>

        <label>Published
			<input type="checkbox" name="isPublished">
		</label>

		<select name="category">
			{% for category in categories %}
				<option value="{{ category.id }}">{{ category.title}}</option>
			{% endfor %}
        </select>

		<label for="image">Image
			<input type="file" name="image">
		</label>

		<input type="submit">
	</form>

</main>
{% endblock main %}
